@import "variables";

form {
    //max-width: 1000px;
    width: 60vh;
    background: rgba(255, 255, 255, 0.1);
    margin: 17vh auto 0 auto;
    padding: 40px;
    border-radius: 16px;
    box-sizing: border-box;
    border-top: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
}

#contact-h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

label {
    display: block;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 2px solid $grey;
    border-radius: 5px;
    background: $grey;

}

input[type="text"]:focus, textarea:focus {
    border-bottom: 2px solid $pink;
}

input[type="email"]:focus, textarea:focus {
    border-bottom: 2px solid $pink;
}

textarea::-webkit-scrollbar {
    width: 3px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: $pink;
}

.center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 60%;
    max-width: 200px;
    background: $grey;
    color: $pink;
    font-size: 17px;
    cursor: pointer;
    border-radius: 18px;
    background: transparent;
    color: $pink;
    border: 2px solid $pink;
}

input[type="submit"]:hover {
    background: $pink;
    color: $light-grey;
}

// -------------------------------------------------------------------------------------
// SUBMIT PAGE
// -------------------------------------------------------------------------------------

.message-confirm {
    margin: 60px;
    //border: 1px solid red;
    text-align: center;
    color: $light-grey;
} 

.back a {
    text-decoration: none;
    color: $pink;
}
